<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../../partials/head.ejs') %>
</head>
<body>
    <ul>
        <img src="<%= course.image %>" alt="immagine" style="width: 150px; height: auto;">
        <li><%= course.title %> - €<%= course.price %></li>
        <li><p><%= course.description %></p></li>
        <li><%= course.duration %></li>
        <li><%= course.modality %></li>
        <li><%= course.location %></li>
        <li><%= course.category %></li>
        <li><%= course.subCategory %></li>
    </ul>
</body>
</html>