<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Elenco corsi</h2>
    <a href="/admin/courses/create-courses">Aggiungi nuovo corso</a>
    <ul>
    <% courses.forEach(course => { %>
        <img src="<%= course.image %>" alt="immagine" style="width: 150px; height: auto;">
        <li><%= course.title %> - €<%= course.price %></li>
        <a href="/admin/courses/edit/<%= course._id %>">Modifica il corso</a>
        <form method="POST" action="/admin/courses/delete/<%= course._id %>?_method=DELETE" style="display:inline;">
            <button type="submit" onclick="return confirm('Eliminare questo corso?')">🗑️</button>
        </form>
    <% }) %>
    </ul>
</body>
</html>