<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head.ejs') %>
</head>
<body>
    <h1>Richieste di informazioni</h1>
    <table border="1" cellpadding="10">
    <thead>
        <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Messaggio</th>
        <th>Corso</th>
        <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <% requests.forEach(r => { %>
        <tr>
            <td><%= r.name %></td>
            <td><%= r.surname %></td>
            <td><%= r.email %></td>
            <td><%= r.phone %></td>
            <td><%= r.message %></td>
            <td>
            <%= r.courseId ? r.courseId.title : r.course %>
            </td>
            <td><%= r.createdAt.toLocaleString() %></td>
        </tr>
        <% }) %>
    </tbody>
    </table>

</body>
</html>