<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <img src="<%= course.image %>" alt="immagine" style="width: 150px; height: auto;">
        <li><%= course.title %> - €<%= course.price %></li>
        <li><p><%= course.subtitle %></p></li>
        <li><p><%= course.description %></p></li>
        <li><%= course.duration %> ore</li>
        <li><%= course.modality %></li>
        <li><%= course.location %></li>
        <li><%= course.trainingType %></li>
        <li><%= course.courseCategory %></li>
    </ul>
</body>
</html>